.header {
	background-color: transparent;
	width: 100%;
	display: flex;
	justify-content: end;
	margin-top: 12px;

	button {
		font-size: 24px;
		color: #eee5e9;
		background-color: transparent;
	}
}
