.stack {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;

	img {
		cursor: pointer;
	}

	h2 {
		font-size: 32px;
	}

	.logos {
		display: flex;
		justify-content: center;
		gap: 32px;
	}
}
